*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
    padding:0;
    overflow-x:hidden ;
}
.navigation{
    display: grid;
    grid-template-columns:auto auto;
    /* background: blue; */
}
.right-nav{
    /* display: none; */
    position: absolute;
    top: 67px;
    background: white;
    width: 100%;
    height: 0;
}
li{
    border: 2px solid transparent;
    padding-top: 10px;
    padding-left: 40px;
    white-space: nowrap;
}
.show-nav-dropdown{
    height: max-content;
}
.icon{
    display:grid;
    justify-content: center;
    align-content: center;
}
.left-nav img{
    width: 200px;
}
.icon img{
    width: 30px;
}

.content{
    display: grid;
    grid-template-rows: auto auto ;
    width: 85%;
    margin: 0 auto;
}
.image{
    width: 70%;
    margin-top: 50px;
} 
.image img{
    width: 300px;
}
p{
    font-size: 3vh;
    /* width: 80%; */
    padding-top: 20px;
}
h2{
    font-size: 5vh;
    padding-top: 20px;
}
input{
    padding: 10px 10px;
    margin-top: 20px;
    font-size: large;
    outline: none;
}
.get-button{
    background: blue;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: large;
}
a{
    text-decoration: none;
}
.para p{
    font-size: 2.5vh;
}

@media(min-width:700px) {
    .icon{
        display: none;
    }
    .navigation{
        display: grid;
        grid-template-columns: auto auto;
    }
    .right-nav{
        /* display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        align-content: center; */
        /* position: absolute; */
        /* top: 67px; */
        /* background: blue; */
        /* width: 100%; */
        /* height: 0; */
        position: unset;
        top: 67px;
        background: transparent;
        width: 100%;
        height: auto;
        display: flex;
        margin-left: auto;
        gap: 30px;
        margin-top: 20px;
    }
    li{
        list-style-type: none;
        font-size: 3.5vh;
    }
    .content{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 50px;
    }
    p{
        font-size:4vh;
        width: 70%;
        padding-top: 15px;
    }
    h2{
        font-size: 8vh;
        padding-top: 15px;
    }
    .para p{
        font-size: 3vh;
    }
    
}
